<div class="lesson">
  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title">Result</h3>
    </div>
    <div class="panel-body">
      <span id="result"><%= @lesson.result %>/10</span>
    </div>
  </div>
  <%= form_tag lessons_path do %> 
    <%= hidden_field_tag :id, nil, value: @lesson.id %>
    <% @lesson.words.each do |word| %>
      <% if !word.result.nil? %>
        <% if word.result.answer_id == word.answers.select{|answer| answer.correct}.first.id %>
          <div class="panel panel-success">
        <% else %>
          <div class="panel panel-danger">
        <% end %>
      <% else %>
          <div class="panel panel-primary">
      <% end %>
        <div class="panel-heading">
          <h3 class="panel-title">
            <strong>Question <%= word.id %>: </strong>
            <%= word.content %>
          </h3>
        </div>
        <div class="panel-body">
          <ul class="word-answer-<%= word.id %>">
            <%= render word.answers %>
          </ul>
        </div>
      </div>
    <% end %>
    <div class="button-select">
      <%= submit_tag t("submit_label"), class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
